@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard Variable', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.App .nav {
  padding-top: 30px;
}

.App .nav .header-notice {
  background: #f4f4f4;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 10;
  overflow: hidden;
}

.App .nav .header-notice .notice a {
  font-family: 'Pretendard Variable', sans-serif;
  padding: 10px 0;
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  letter-spacing: -0.5px;
  line-height: 1;
  cursor: pointer;
}

.App .nav #header-start .header .side-modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  cursor: pointer;
  display: none;
}

.App .nav #header-start .header.fixed {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.App .nav #header-start .header .container {
  max-width: inherit;
  padding: 0 20px;
  height: 75px;
}

.App .nav #header-start .header .container .header-wrap {
  padding: 25px 0;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  height: 25px;
}

.App .nav #header-start .header .container .header-wrap.d-flex {
  display: flex;
}

.App .nav #header-start .header .container .header-wrap h1 {
  margin-top: 25px;
  margin-left: 5px;
}

.App .nav #header-start .header .container .header-wrap h1 a {
  color: #161616;
  cursor: pointer;
}

.App .nav #header-start .header .container .header-wrap h1 a img {
  vertical-align: top;
}

.App .nav #header-start .header .container .header-wrap .menu {
  margin-left: 100px;
}

.App .nav #header-start .header .container .header-wrap .menu .lnb-item {
  float: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  color: #161616;
  padding: 5px 15px;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .container .header-wrap .util {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.App .nav #header-start .header .container .header-wrap .util .util-menu {
  padding: 2px 15px;
  border: none;
  background: transparent;
}

.App .nav #header-start .header .container .header-wrap .util .cart {
  display: flex;
  align-items: center;
}

.App .nav #header-start .header .container .header-wrap .util .cart .cart-btn {
  position: relative;
}

.App .nav #header-start .header .container .header-wrap .util .cart .cart-btn .displaynone {
  display: none;
}

.App .nav #header-start .header .container .header-wrap .util .cart .cart-btn .cart-count {
  position: absolute;
  top: 5px;
  font-size: 15px;
  font-weight: 300;
}

.App .nav #header-start .header .navi-wrap {
  width: 430px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 430px;
  background: #fff;
  z-index: 100;
}

.App .nav #header-start .header .navi-wrap.active {
  transform: translateX(0);
  overflow-y: auto;
}

.App .nav #header-start .header .navi-wrap .container .d-flex button {
  border: none;
  background: none;
  letter-spacing: -0.5px;
  color: #161616;
}

.App .nav #header-start .header .navi-wrap .container .d-flex button.close-btn {
  margin: 30px 0px 20px 340px;
  font-size: 16px;
  font-weight: 300;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item h4 {
  font-size: 16px;
  padding: 40px 0 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap li .lnb-btn {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap li .lnb-btn.active {
  color: #161616;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap li > .lnb-list {
  display: none;
  /* 임시 */
  margin-left: 20px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap li > .lnb-list > .lnb-item {
  color: #161616;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap li > .lnb-list > .lnb-item:nth-child(1) {
  margin-top: 5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap .gnb-list {
  font-weight: 500;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .lnb-listWrap .gnb-list.navPromotion {
  margin-top: 12px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .gnb-list .gnb-item {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App .nav #header-start .header .navi-wrap .container .d-flex > .gnb-list > .gnb-item .gnb-list .gnb-item:nth-child(1) {
  margin-top: 25px;
}

.App .nav #header-start .header .side-modal-wrap {
  width: 430px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 430px;
  background: #fff;
  z-index: 100;
}

.App .nav #header-start .header .sm-wrap-cart button {
  border: none;
  background: none;
  letter-spacing: -0.5px;
  color: #161616;
}

.App .nav #header-start .header .sm-wrap-cart button.close-btn {
  margin: 30px 0px 20px 340px;
  font-size: 16px;
  font-weight: 300;
}

.App .nav #header-start .header .sm-wrap-cart .blank-cart {
  height: 730px;
  padding-bottom: 20px;
  font-size: 14px;
}

.App .nav #header-start .header .sm-wrap-cart .blank-cart p {
  padding: 355px 0;
  text-align: center;
}

.App .nav #header-start .header .sm-wrap-cart .btn-wrap {
  position: relative;
  text-align: center;
  top: 40px;
}

.App .nav #header-start .header .sm-wrap-cart .btn-wrap:before {
  content: "";
  position: absolute;
  width: 430px;
  height: 1px;
  background: #E0E0E0;
  top: -30px;
  left: -20px;
}

.App .nav #header-start .header .sm-wrap-cart .btn-wrap .btn-cart {
  width: 380px;
  height: 60px;
  background: #000;
  color: #fff;
  font-size: 16px;
}

.App .nav #header-start .header .sm-wrap-search button {
  border: none;
  background: none;
  letter-spacing: -0.5px;
  color: #161616;
}

.App .nav #header-start .header .sm-wrap-search button.close-btn {
  margin: 30px 0px 20px 340px;
  font-size: 16px;
  font-weight: 300;
}

.App .nav #header-start .header .sm-wrap-search form {
  position: relative;
}

.App .nav #header-start .header .sm-wrap-search form #keyword {
  border: none;
  border-bottom: 1px solid #666;
  width: 100%;
  height: 50px;
}

.App .nav #header-start .header .sm-wrap-search form #keyword:focus {
  outline: none;
}

.App .nav #header-start .header .sm-wrap-search form #keyword::placeholder {
  position: absolute;
  top: 20px;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 300;
}

.App .nav #header-start .header .sm-wrap-search form #searchBtn {
  position: absolute;
  top: 20px;
  right: 15px;
}

.App .nav #header-start .header .sm-wrap-search .keyWord-wrap .popular-keyWord {
  padding-top: 25px;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 18px;
  color: #161616;
}

.App .nav #header-start .header .sm-wrap-search .keyWord-wrap ul li {
  padding-top: 5px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.App .main {
  width: 100%;
  height: 1680px;
  max-width: 1903px;
  padding-top: 140px;
}

.App .main .swiper {
  display: none;
}

.App .main .banner-row {
  margin: 0 24px 0 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App .main .banner-row .main-banner {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 15px;
}

.App .main .banner-row .main-banner:nth-child(1) {
  width: calc(65% - 8px);
  height: 850px;
  background: #d3dbff url(./img/MAIN-BANNER_05.jpg) no-repeat 0 0/cover;
}

.App .main .banner-row .main-banner:nth-child(2) {
  width: calc(35% - 8px);
  height: 850px;
  margin-left: 15px;
  background: #a2acff url(./img/MAIN-BANNER_06.jpg) no-repeat 0 0/cover;
}

.App .main .banner-row .main-banner:nth-child(3) {
  width: calc(50% - 8px);
  height: 795px;
  background: #fff url(./img/MAIN-BANNER_07.jpg) no-repeat 0 0/cover;
}

.App .main .banner-row .main-banner:nth-child(4) {
  width: calc(50% - 8px);
  height: 795px;
  margin-left: 15px;
  background: #fff url(./img/MAIN-BANNER_08.jpg) no-repeat 0 0/cover;
}

.App .main .banner-row .main-banner .banner-text {
  padding: 18px;
}

.App .main .banner-row .main-banner .banner-text p {
  color: #fff;
  letter-spacing: -0.5px;
}

.App .main .banner-row .main-banner .banner-text p:nth-child(1) {
  font-weight: 500;
  padding-bottom: 5px;
}

.App .promotion {
  background: #fff;
  width: 100%;
  height: 1003px;
  max-width: 1903px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.App .promotion h2 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .promotion .swiper {
  display: none;
}

.App .promotion .banner-row {
  display: flex;
  margin: 0 24px 0 13px;
}

.App .promotion .banner-row .promotion-banner {
  position: relative;
  top: 0;
  left: 0;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap {
  width: 605px;
  height: 605px;
  margin-left: 15px;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner {
  background: url(./img/se2Banner1.jpg) no-repeat 0 0/cover;
  width: 605px;
  height: 605px;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 14px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.first {
  margin-left: 0;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.second {
  background: url(./img/se2Banner2.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.second:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 14px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.third {
  background: url(./img/se2Banner3.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.third:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 14px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text {
  padding: 18px;
  position: absolute;
  top: 0;
  left: 15px;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p {
  color: #fff;
  letter-spacing: -0.5px;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p:nth-child(1) {
  font-weight: 500;
  padding-bottom: 5px;
}

.App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p:nth-child(2) {
  font-weight: 400;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product {
  height: 325px;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap {
  position: relative;
  top: 15px;
  left: 15px;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img {
  margin-bottom: 12px;
  width: 68px;
  height: 68px;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(1) {
  background: url(./img/se2Banner1_1.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(1):after {
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(2) {
  background: url(./img/se2Banner1_2.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(2):after {
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  content: "";
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(3) {
  background: url(./img/se2Banner1_3.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(3):after {
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  content: "";
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(4) {
  background: url(./img/se2Banner1_4.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(4):after {
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  content: "";
  top: 240px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(1) {
  background: url(./img/se2Banner2_1.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(2) {
  background: url(./img/se2Banner2_2.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(3) {
  background: url(./img/se2Banner2_3.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(4) {
  background: url(./img/se2Banner2_4.jpg) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(1) {
  background: url(./img/se2Banner3_1.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(2) {
  background: url(./img/se2Banner3_2.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(3) {
  background: url(./img/se2Banner3_3.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(4) {
  background: url(./img/se2Banner3_4.png) no-repeat 0 0/cover;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .text-wrap {
  width: 80%;
  position: relative;
  bottom: 305px;
  left: 100px;
  margin-bottom: 20px;
}

.App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .text-wrap p {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 20px;
}

.App .currentview {
  background: #fff;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.App .currentview h2 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .currentview .swiper {
  display: none;
}

.App .currentview .banner-row {
  display: flex;
  margin: 0 24px 0 13px;
}

.App .currentview .banner-row .currentView-banner {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap {
  width: 605px;
  height: 605px;
  margin-left: 15px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner {
  background: url(./img/current-view1.jpg) no-repeat 0 0/cover;
  width: 605px;
  height: 605px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 15px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.first {
  margin-left: 0;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.second {
  background: url(./img/current-view2.jpg) no-repeat 0 0/cover;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.second:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 635px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.third {
  background: url(./img/current-view3.jpg) no-repeat 0 0/cover;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.third:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 1255px;
  width: 605px;
  height: 605px;
  background-color: rgba(0, 0, 0, 0.1);
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text {
  width: 400px;
  padding: 18px;
  position: absolute;
  top: 0;
  left: 15px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text.second {
  left: 635px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text.third {
  left: 1255px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p {
  color: #fff;
  letter-spacing: -0.5px;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p:nth-child(1) {
  font-weight: 300;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p:nth-child(2) {
  font-weight: 500;
}

.App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p:nth-child(3) {
  font-weight: 500;
  position: absolute;
  top: 60px;
}

.App .curation {
  background: #fff;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
}

.App .curation h2 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .curation ul {
  display: flex;
  flex-wrap: wrap;
}

.App .curation ul li {
  margin-left: 15px;
}

.App .curation ul li:nth-child(1) {
  margin-left: 25px;
}

.App .curation ul li:nth-child(5) {
  margin-left: 25px;
}

.App .curation ul li:nth-child(9) {
  margin-left: 25px;
}

.App .curation ul li .info {
  width: 450px;
  height: 592px;
  margin-bottom: 15px;
}

.App .curation ul li .info .blur {
  position: relative;
  display: block;
}

.App .curation ul li .info .blur:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.03);
}

.App .curation ul li .info .blur .description {
  width: 100%;
  padding: 15px 15px 40px 15px;
}

.App .curation ul li .info .blur .description .text-info p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App .curation ul li .info .blur .description .text-info p.brand {
  font-weight: 500;
}

.App .curation ul li .info .blur .description .text-info p.name {
  font-size: 15px;
}

.App .curation ul li .info .blur .description .price-info p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App .curation ul li .info .blur .description .price-info p.price.cancel {
  font-size: 14px;
  text-decoration: line-through;
}

.App .curation ul li .info .blur .description .price-info p.price-sale span {
  color: #A8A8A8;
}

.App .curation ul li .info .blur .description .price-info .box {
  width: 58px;
  height: 20px;
  position: absolute;
  top: 90px;
  background: url(./img/custom_316185596972254.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .description .price-info .box.blank {
  background: transparent;
}

.App .curation ul li .info .blur .description .price-info .box2 {
  width: 58px;
  height: 20px;
  position: absolute;
  top: 110px;
  background: url(./img/custom_316185596972254.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image {
  width: 450px;
  height: 450px;
  background: url(./img/curation01.jpg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img2 {
  background: url(./img/curation02.jpeg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img3 {
  background: url(./img/curation03.jpeg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img4 {
  background: url(./img/curation04.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img5 {
  background: url(./img/curation05.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img6 {
  background: url(./img/curation06.jpg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img7 {
  background: url(./img/curation07.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img8 {
  background: url(./img/curation08.jpg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img9 {
  background: url(./img/curation09.jpg) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img10 {
  background: url(./img/curation10.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img11 {
  background: url(./img/curation11.png) no-repeat 0 0/cover;
}

.App .curation ul li .info .blur .image.img12 {
  background: url(./img/curation12.jpg) no-repeat 0 0/cover;
}

.App .artcollection {
  background: #fff;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
}

.App .artcollection h3 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .artcollection .banner-row {
  display: flex;
  margin-left: 24px;
}

.App .artcollection .banner-row .img-banner {
  position: relative;
  margin-left: 15px;
}

.App .artcollection .banner-row .img-banner:nth-child(1) {
  margin-left: 0;
}

.App .artcollection .banner-row .img-banner .banner-text {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.App .artcollection .banner-row .img-banner .banner-text p {
  color: #fff;
  letter-spacing: -0.5px;
}

.App .artcollection .banner-row .img-banner .banner-text p.bnr-name {
  font-weight: 300;
}

.App .artcollection .banner-row .img-banner .banner-text p.bnr-description {
  font-weight: 600;
}

.App .artcollection .banner-row .img-banner .bnr-img {
  width: 608px;
  height: 407px;
}

.App .artcollection .banner-row .img-banner .bnr-img.first {
  background: url(./img/artCollection1.png) no-repeat 0 0/cover;
}

.App .artcollection .banner-row .img-banner .bnr-img.second {
  background: url(./img/artCollection2.jpg) no-repeat 0 0/cover;
}

.App .artcollection .banner-row .img-banner .bnr-img.third {
  background: url(./img/artCollection3.png) no-repeat 0 0/cover;
}

.App .artcollection .banner-row .img-banner .bnr-img:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.App .upcoming {
  background: #fff;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
}

.App .upcoming h4 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .upcoming .upcoming-items {
  display: grid;
  gap: 15px;
  grid-template-columns: 610px 297px 297px 297px 295px;
  grid-template-rows: repeat(2, 1fr);
  max-width: 1903px;
  margin: 0 24px;
}

.App .upcoming .upcoming-items .itemWrap {
  width: 295px;
  height: 295px;
}

.App .upcoming .upcoming-items .itemWrap:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/4;
}

.App .upcoming .upcoming-items .itemWrap .item {
  width: 295px;
  height: 295px;
}

.App .upcoming .upcoming-items .itemWrap .item.item1 {
  background: url(./img/upcoming1.jpg) no-repeat 0 0/cover;
  width: 608px;
  height: 608px;
}

.App .upcoming .upcoming-items .itemWrap .item.item2 {
  background: url(./img/upcoming2.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item3 {
  background: url(./img/upcoming3.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item4 {
  background: url(./img/upcoming4.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item5 {
  background: url(./img/upcoming5.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item6 {
  background: url(./img/upcoming6.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item7 {
  background: url(./img/upcoming7.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item8 {
  background: url(./img/upcoming8.jpg) no-repeat 0 0/cover;
}

.App .upcoming .upcoming-items .itemWrap .item.item9 {
  background: url(./img/upcoming9.jpg) no-repeat 0 0/cover;
}

.App .featuredbrand {
  background: #fff;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
}

.App .featuredbrand h2 {
  margin-left: 28px;
  padding: 24px 0;
  font-size: 17px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App .featuredbrand .home-brand {
  margin: 0 24px;
}

.App .featuredbrand .home-brand .imgs {
  display: flex;
}

.App .featuredbrand .home-brand .imgs .img-banner {
  background: #fff;
  width: 296px;
  height: 263px;
  margin-left: 15px;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(1) {
  margin-left: 0;
  background: url(./img/brand1.png) no-repeat 0 0/cover;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(2) {
  background: url(./img/brand2.png) no-repeat 0 0/cover;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(3) {
  background: url(./img/brand3.png) no-repeat 0 0/cover;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(4) {
  background: url(./img/brand4.png) no-repeat 0 0/cover;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(5) {
  background: url(./img/brand5.png) no-repeat 0 0/cover;
}

.App .featuredbrand .home-brand .imgs .img-banner:nth-child(6) {
  background: url(./img/brand6.png) no-repeat 0 0/cover;
}

.App .login {
  background: white;
  width: 100%;
  max-width: 1903px;
  padding-top: 100px;
}

.App .login .contents .page-account {
  height: 580px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 170px;
}

.App .login .contents .page-account .row {
  display: flex;
  justify-content: center;
}

.App .login .contents .page-account .row form label {
  display: flex;
  padding: 15px 0;
  color: #161616;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App .login .contents .page-account .row form input {
  width: 500px;
  height: 45px;
  border: 1px solid #E0E0E0;
  background: none;
  padding: 0px 15px;
}

.App .login .contents .page-account .row form input::placeholder {
  color: #A8A8A8;
  font-size: 16px;
}

.App .login .contents .page-account .row form input:focus {
  outline: none;
  border: 1px solid #666;
}

.App .login .contents .page-account .row form .id-save {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.App .login .contents .page-account .row form .id-save label {
  color: #A8A8A8;
  font-size: 15px;
}

.App .login .contents .page-account .row form .id-save #saveID {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.App .login .contents .page-account .row button.login-btn {
  width: 532px;
  height: 50px;
  background: #161616;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.App .login .contents .page-account .row button.login-btn:hover {
  background: #444;
}

.App .login .contents .page-account .row button.guestOrder-btn {
  width: 532px;
  height: 50px;
  background: #fff;
  border: 1px solid #161616;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.App .login .contents .page-account .row button.guestOrder-btn:hover {
  color: #525252;
}

.App .login .contents .page-account .row .user-find {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 20px;
}

.App .login .contents .page-account .row .user-find li {
  font-weight: 500;
  color: #666;
  padding: 0 20px;
  letter-spacing: -0.5px;
}

.App .login .contents .page-account .row .user-find li:nth-child(2) {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.App .login .contents .page-account .row .platform-login li {
  position: relative;
  width: 532px;
  height: 65px;
  border: 1px solid #E0E0E0;
}

.App .login .contents .page-account .row .platform-login li img {
  width: 30px;
  height: 30px;
  margin-top: 16px;
  margin-left: 20px;
}

.App .login .contents .page-account .row .platform-login li p {
  position: absolute;
  top: 20px;
  left: 65px;
  font-weight: 500;
  font-size: 17px;
}

.App .login .contents .page-account .row .platform-login li:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 15px;
}

.App footer {
  position: relative;
  bottom: 0;
  background: white;
  width: 100%;
  max-width: 1903px;
  padding-top: 60px;
}

.App footer .container {
  margin: 0 24px;
}

.App footer .container .fnb-wrap {
  display: flex;
  padding: 14px 0;
}

.App footer .container .fnb-wrap .fnb-list {
  display: flex;
  width: 100%;
}

.App footer .container .fnb-wrap .fnb-list .footer-service {
  flex: 0 0 auto;
  width: 25%;
}

.App footer .container .fnb-wrap .fnb-list .footer-service h4 {
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 500;
}

.App footer .container .fnb-wrap .fnb-list .footer-service ul {
  font-weight: 300;
}

.App footer .container .fnb-wrap .fnb-list .footer-service ul li {
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.App footer .container .fnb-wrap .footer-service {
  flex: 0 0 auto;
  width: 25%;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service {
  display: flex;
  flex-direction: column;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service h4 {
  letter-spacing: -0.5px;
  font-weight: 600;
  padding: 14px 0;
  position: relative;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form {
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset {
  border: none;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset label {
  display: none;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #161616;
  background: none;
  padding-bottom: 15px;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset input:focus {
  outline: none;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset input::placeholder {
  position: absolute;
  top: 5px;
  color: #A8A8A8;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset .stb_form_msg_error {
  display: none;
}

.App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset button {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  letter-spacing: -1px;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns {
  position: absolute;
  bottom: -9px;
  right: 110px;
  z-index: 1;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu {
  display: flex;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li {
  width: 20px;
  height: 20px;
  font-size: 0px;
  margin: 8px;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li:nth-child(1) {
  background: url(./img/ico_sns_instagram.svg) no-repeat 0 0/cover;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li:nth-child(2) {
  background: url(./img/ico_sns_facebook.svg) no-repeat 0 0/cover;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li:nth-child(3) {
  background: url(./img/ico_sns_youtube.svg) no-repeat 0 0/cover;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li:nth-child(4) {
  width: 28px;
  background: url(./img/ico_sns_blog.svg) no-repeat 0 0/cover;
}

.App footer .container .fnb-wrap .footer-service .mobile-sns .follow-menu li:nth-child(5) {
  width: 28px;
  background: url(./img/ico_sns_ppp.svg) no-repeat 0 0/cover;
}

.App footer .container .footer-info {
  padding-top: 0;
}

.App footer .container .footer-info .info-list {
  color: #8D8D8D;
  font-size: 12px;
}

.App footer .container .footer-info .info-list .d-flex {
  display: flex;
}

.App footer .container .footer-info .info-list .d-flex dd {
  margin-right: 9px;
  line-height: 1.2;
}

.App footer .container .footer-info .info-list .d-flex dd.underline {
  text-decoration: underline;
}

.App footer .container .footer-info .info-list .d-flex dd.HPIX {
  font-size: 14px;
  position: absolute;
  right: 24px;
  top: 300px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

.App footer .container .footer-info .info-list .d-flex dt {
  margin-right: 4px;
  line-height: 1.2;
}

.App footer .container .footer-info .info-list .d-flex.final {
  margin-top: 14px;
}

@media screen and (max-width: 1700px) {
  .App .nav .header-notice .notice a {
    font-size: 13px;
  }
  .App .nav #header-start .header .container .header-wrap .menu .lnb-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 1310px) {
  .App .nav .header-notice .notice a {
    font-size: 13px;
  }
  .App .nav #header-start .header .container .header-wrap .menu {
    margin-left: 40px;
  }
  .App .nav #header-start .header .container .header-wrap .menu .lnb-item {
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 1280px) {
  .App .nav .header-notice .notice a {
    font-size: 13px;
  }
  .App .nav #header-start .header .container .header-wrap .menu {
    margin-left: 30px;
  }
  .App .nav #header-start .header .container .header-wrap .menu .lnb-item {
    font-size: 13px;
    padding: 5px 8px;
  }
  .App .nav #header-start .header .container .header-wrap .util .util-menu {
    padding: 2px 10px;
  }
}

@media screen and (max-width: 1024px) {
  .App .nav .header-notice .notice a {
    font-size: 13px;
  }
  .App .nav #header-start .header .container .header-wrap .menu {
    display: none;
  }
  .App .main {
    height: 820px;
    padding-top: 100px;
  }
  .App .main .banner-row .main-banner {
    margin-bottom: 10px;
  }
  .App .main .banner-row .main-banner:nth-child(1) {
    height: 435px;
  }
  .App .main .banner-row .main-banner:nth-child(2) {
    margin-left: 0;
    width: calc(35% - 3px);
    height: 435px;
  }
  .App .main .banner-row .main-banner:nth-child(3) {
    height: 405px;
  }
  .App .main .banner-row .main-banner:nth-child(4) {
    margin-left: 0;
    width: calc(50% - 3px);
    height: 405px;
  }
  .App .promotion {
    height: 600px;
    padding-top: 100px;
  }
  .App .promotion h2 {
    font-size: 14px;
    padding: 24px 0px 14px 0px;
  }
  .App .promotion .banner-row .promotion-banner {
    width: 315px;
    margin-left: 10px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap {
    width: 315px;
    height: 315px;
    margin-left: 0px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner {
    width: 315px;
    height: 315px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner:after {
    width: 315px;
    height: 315px;
    left: 0;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.first {
    margin-left: 0;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.second:after {
    width: 315px;
    height: 315px;
    left: 0;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .se2-banner.third:after {
    width: 315px;
    height: 315px;
    left: 0;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text {
    padding: 10px 15px;
    left: 0px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p {
    font-size: 14px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p:nth-child(1) {
    font-weight: 500;
    padding-bottom: 0px;
  }
  .App .promotion .banner-row .promotion-banner .se2-banner-wrap .banner-text p:nth-child(2) {
    font-weight: 400;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product {
    height: 225px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap {
    top: 15px;
    left: 0px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img {
    width: 50px;
    height: 50px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(1):after {
    width: 50px;
    height: 50px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(2):after {
    width: 50px;
    height: 50px;
    top: 60px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(3):after {
    width: 50px;
    height: 50px;
    top: 120px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(4):after {
    width: 50px;
    height: 50px;
    top: 180px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .text-wrap {
    bottom: 235px;
    left: 65px;
    margin-bottom: 15px;
  }
  .App .promotion .banner-row .promotion-banner .product-wrap .promotion-product .text-wrap p {
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
  }
  .App .currentview {
    padding-top: 100px;
  }
  .App .currentview h2 {
    padding: 24px 0px 14px 0px;
    font-size: 14px;
  }
  .App .currentview .banner-row {
    margin: 0;
  }
  .App .currentview .banner-row .currentView-banner {
    margin-left: 24px;
    top: 0;
    left: 0;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap {
    width: 315px;
    height: 400px;
    margin-left: 10px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap:nth-child(1) {
    margin-left: 0;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner {
    width: 315px;
    height: 400px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner:after {
    top: 0;
    left: 0px;
    width: 315px;
    height: 400px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.first {
    margin-left: 0;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.second:after {
    top: 0;
    left: 325px;
    width: 315px;
    height: 400px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .se3-banner.third:after {
    top: 0;
    left: 650px;
    width: 315px;
    height: 400px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text {
    width: 215px;
    padding: 15px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text.second {
    left: 325px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text.third {
    left: 650px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p {
    font-size: 14px;
  }
  .App .currentview .banner-row .currentView-banner .se3-banner-wrap .banner-text p:nth-child(3) {
    top: 50px;
  }
  .App .curation {
    padding-top: 100px;
  }
  .App .curation h2 {
    padding: 24px 0px 14px 0px;
    font-size: 14px;
  }
  .App .curation ul {
    justify-content: center;
  }
  .App .curation ul li {
    margin-left: 12px;
  }
  .App .curation ul li:nth-child(1) {
    margin-left: 0px;
  }
  .App .curation ul li:nth-child(5) {
    margin-left: 0px;
  }
  .App .curation ul li:nth-child(9) {
    margin-left: 0px;
  }
  .App .curation ul li .info {
    width: 233px;
    height: 360px;
    margin-bottom: 12px;
  }
  .App .curation ul li .info .blur .description {
    width: 85%;
  }
  .App .curation ul li .info .blur .description .text-info p {
    font-size: 12px;
  }
  .App .curation ul li .info .blur .description .text-info p.name {
    font-size: 12px;
  }
  .App .curation ul li .info .blur .description .price-info p {
    font-size: 13px;
  }
  .App .curation ul li .info .blur .description .price-info p.price.cancel {
    font-size: 12px;
  }
  .App .curation ul li .info .blur .description .price-info .box {
    width: 50px;
    height: 15px;
    top: 80px;
    background: url(./img/custom_316185596972254.png) no-repeat 0/cover;
  }
  .App .curation ul li .info .blur .description .price-info .box2 {
    width: 50px;
    height: 15px;
    top: 100px;
    background: url(./img/custom_316185596972254.png) no-repeat 0/cover;
  }
  .App .curation ul li .info .blur .image {
    width: 233px;
    height: 230px;
  }
  .App .artcollection {
    padding-top: 50px;
  }
  .App .artcollection h3 {
    padding: 24px 0px 14px 0px;
    font-size: 14px;
  }
  .App .artcollection .banner-row .img-banner {
    margin-left: 10px;
  }
  .App .artcollection .banner-row .img-banner:nth-child(1) {
    margin-left: 0;
  }
  .App .artcollection .banner-row .img-banner .banner-text {
    font-size: 13px;
    top: 12px;
    left: 12px;
  }
  .App .artcollection .banner-row .img-banner .bnr-img {
    width: 314px;
    height: 210px;
  }
  .App .upcoming {
    padding-top: 70px;
  }
  .App .upcoming h4 {
    padding: 24px 0px 14px 0px;
    font-size: 14px;
  }
  .App .upcoming .upcoming-items {
    gap: 10px;
    grid-template-columns: 315px 150px 150px 150px 148px;
  }
  .App .upcoming .upcoming-items .itemWrap {
    width: 150px;
    height: 152px;
  }
  .App .upcoming .upcoming-items .itemWrap .item {
    width: 150px;
    height: 153px;
  }
  .App .upcoming .upcoming-items .itemWrap .item.item1 {
    width: 315px;
    height: 315px;
  }
  .App .featuredbrand {
    padding-top: 70px;
  }
  .App .featuredbrand h2 {
    padding: 24px 0px 14px 0px;
    font-size: 14px;
  }
  .App .featuredbrand .home-brand {
    margin: 0 24px;
  }
  .App .featuredbrand .home-brand .imgs .img-banner {
    width: 152px;
    height: 135px;
    margin-left: 10px;
  }
  .App footer {
    padding-top: 70px;
  }
  .App footer .container .fnb-wrap {
    padding: 14px 0;
  }
  .App footer .container .fnb-wrap .fnb-list .footer-service h4 {
    padding: 10px 0;
    font-size: 12px;
  }
  .App footer .container .fnb-wrap .fnb-list .footer-service ul li {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .App footer .container .fnb-wrap .footer-service .newsletter-service h4 {
    font-size: 12px;
    padding: 5px 0;
  }
  .App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset input {
    font-size: 10px;
    padding-bottom: 5px;
  }
  .App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset input::placeholder {
    top: 0px;
  }
  .App footer .container .fnb-wrap .footer-service .newsletter-service .stb_subscribe form fieldset button {
    font-size: 12px;
    margin-top: 10px;
  }
  .App footer .container .fnb-wrap .footer-service .mobile-sns {
    bottom: -9px;
    right: 90px;
  }
  .App footer .container .footer-info {
    padding-top: 10px;
  }
  .App footer .container .footer-info .info-list {
    font-size: 11px;
  }
  .App footer .container .footer-info .info-list .d-flex dd.HPIX {
    font-size: 14px;
    top: 265px;
  }
}

@media screen and (max-width: 765px) {
  .App .nav #header-start .header .container {
    height: 55px;
  }
  .App .nav #header-start .header .container .header-wrap h1 {
    margin-top: 10px;
    margin-left: -5px;
  }
  .App .nav #header-start .header .container .header-wrap h1 a img {
    width: 60px;
    height: 20px;
  }
  .App .nav #header-start .header .container .header-wrap .util {
    margin-top: -15px;
    margin-right: -15px;
  }
  .App .main {
    margin-top: -40px;
    height: 930px;
  }
  .App .main .banner-row {
    display: none;
  }
  .App .main .swiper {
    display: block;
    margin-left: 12px;
  }
  .App .main .swiper .swiper-pagination {
    left: -345px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }
  .App .main .swiper .swiper-slide {
    width: 724px;
    position: relative;
  }
  .App .main .swiper .swiper-slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 724px;
    height: 2px;
    background-color: #161616;
    transition: width 0.3s ease;
  }
  .App .main .swiper .swiper-slide.first-slide::after {
    width: 25%;
  }
  .App .main .swiper .swiper-slide.second-slide {
    width: 50%;
  }
  .App .main .swiper .swiper-slide.second-slide::after {
    width: 50%;
  }
  .App .main .swiper .swiper-slide.third-slide {
    width: 75%;
  }
  .App .main .swiper .swiper-slide.third-slide::after {
    width: 75%;
  }
  .App .main .swiper .swiper-slide.fourth-slide {
    width: 724px;
  }
  .App .main .swiper .swiper-slide.fourth-slide::after {
    width: 724px;
  }
  .App .main .swiper .swiper-scrollbar {
    background-color: #161616;
    /* 스크롤바의 배경색 설정 */
  }
  .App .main .swiper .swiper-img {
    width: 724px;
    height: 927px;
  }
  .App .main .swiper .swiper-img.swImg1 {
    background: url(./img/MAIN-BANNER_05.jpg) no-repeat 0 0/cover;
  }
  .App .main .swiper .swiper-img.swImg2 {
    background: url(./img/MAIN-BANNER_06.jpg) no-repeat 0 0/cover;
  }
  .App .main .swiper .swiper-img.swImg3 {
    background: url(./img/MAIN-BANNER_07.jpg) no-repeat 0 0/cover;
  }
  .App .main .swiper .swiper-img.swImg4 {
    background: url(./img/MAIN-BANNER_08.jpg) no-repeat 0 0/cover;
  }
  .App .main .swiper .swiper-img .banner-text {
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }
  .App .promotion {
    display: block;
    height: 1050px;
    padding-top: 30px;
  }
  .App .promotion .banner-row {
    display: none;
  }
  .App .promotion .se2-title {
    padding-bottom: 12px;
    margin-left: 12px;
  }
  .App .promotion .swiper {
    display: block;
  }
  .App .promotion .swiper .swiper-pagination {
    top: 680px;
    left: -340px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #fff;
  }
  .App .promotion .swiper .swiper-slide {
    position: relative;
  }
  .App .promotion .swiper .swiper-slide::after {
    content: '';
    position: absolute;
    bottom: 310px;
    left: 12px;
    width: 724px;
    height: 2px;
    background-color: #161616;
    transition: width 0.3s ease;
  }
  .App .promotion .swiper .swiper-slide.first-slide::after {
    width: 33.3%;
  }
  .App .promotion .swiper .swiper-slide.second-slide::after {
    width: 66.6%;
  }
  .App .promotion .swiper .swiper-slide.third-slide::after {
    width: 724px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner {
    position: relative;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap {
    margin-left: 12px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .se2-banner {
    width: 724px;
    height: 708px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .se2-banner.first {
    background: url(./img/se2Banner1.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .se2-banner.second {
    background: url(./img/se2Banner2.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .se2-banner.third {
    background: url(./img/se2Banner3.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .se2-banner::after {
    content: "";
    position: absolute;
    display: block;
    width: 724px;
    height: 708px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .banner-text {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .se2-banner-wrap .banner-text p {
    color: #fff;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap {
    position: relative;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product {
    height: 300px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap {
    margin-left: 12px;
    margin-top: 12px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img {
    margin-bottom: 10px;
    width: 56px;
    height: 56px;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(1) {
    background: url(./img/se2Banner1_1.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(1)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 0;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(2) {
    background: url(./img/se2Banner1_2.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(2)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 66px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(3) {
    background: url(./img/se2Banner1_3.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(3)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 132px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(4) {
    background: url(./img/se2Banner1_4.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img:nth-child(4)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 198px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(1) {
    background: url(./img/se2Banner2_1.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(1)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 0;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(2) {
    background: url(./img/se2Banner2_2.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(2)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 66px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(3) {
    background: url(./img/se2Banner2_3.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(3)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 132px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(4) {
    background: url(./img/se2Banner2_4.jpg) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.second:nth-child(4)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 198px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(1) {
    background: url(./img/se2Banner3_1.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(1)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 0;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(2) {
    background: url(./img/se2Banner3_2.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(2)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 66px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(3) {
    background: url(./img/se2Banner3_3.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(3)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 132px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(4) {
    background: url(./img/se2Banner3_4.png) no-repeat 0 0/cover;
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .img-wrap .img.third:nth-child(4)::after {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    content: "";
    top: 198px;
    left: 12px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .App .promotion .swiper .swiper-slide .promotion-banner .product-wrap .promotion-product .text-wrap {
    position: relative;
    top: -268px;
    left: 80px;
    font-size: 13px;
    letter-spacing: -0.5px;
    margin-bottom: 7px;
  }
  .App .currentview {
    background: royalblue;
  }
  .App .currentview .banner-row {
    display: none;
  }
  .App .currentview .swiper {
    display: block;
  }
  .App .currentview .swiper .swiper-pagination {
    top: 680px;
    left: -340px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #fff;
  }
  .App .currentview .swiper .swiper-slide .se3-banner-wrap {
    margin-left: 12px;
  }
  .App .currentview .swiper .swiper-slide .se3-banner-wrap .se3-banner {
    width: 724px;
    height: 924px;
    background: url(./img/current-view1.jpg) no-repeat 0 0/cover;
  }
  .App .currentview .swiper .swiper-slide .se3-banner-wrap .se3-banner.second {
    background: url(./img/current-view2.jpg) no-repeat 0 0/cover;
  }
  .App .currentview .swiper .swiper-slide .se3-banner-wrap .se3-banner.third {
    background: url(./img/current-view3.jpg) no-repeat 0 0/cover;
  }
}
